In [3]:
import numpy as np
import pandas as pd

In [22]:
df=pd.read_csv(r'D:\LNB JOB\Project\Sleep Health and Lifestyle Dataset\Sleep_health_and_lifestyle_dataset.csv')
df.head()

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Sleep Disorder
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,NaN
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,NaN
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,Sleep Apnea

In [6]:
df.describe()

,Person ID,Age,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,Heart Rate,Daily Steps
count,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000,374.000000
mean,187.500000,42.184492,7.132086,7.312834,59.171123,5.385027,70.165775,6816.844920
std,108.108742,8.673133,0.795657,1.196956,20.830804,1.774526,4.135676,1617.915679
min,1.000000,27.000000,5.800000,4.000000,30.000000,3.000000,65.000000,3000.000000
25%,94.250000,35.250000,6.400000,6.000000,45.000000,4.000000,68.000000,5600.000000
50%,187.500000,43.000000,7.200000,7.000000,60.000000,5.000000,70.000000,7000.000000
75%,280.750000,50.000000,7.800000,8.000000,75.000000,7.000000,72.000000,8000.000000
max,374.000000,59.000000,8.500000,9.000000,90.000000,8.000000,86.000000,10000.000000

In [7]:
df.isnull().sum()

Person ID                    0
Gender                       0
Age                          0
Occupation                   0
Sleep Duration               0
Quality of Sleep             0
Physical Activity Level      0
Stress Level                 0
BMI Category                 0
Blood Pressure               0
Heart Rate                   0
Daily Steps                  0
Sleep Disorder             219
dtype: int64

In [8]:
df.shape,df['Occupation'].unique()

((374, 13),
 array(['Software Engineer', 'Doctor', 'Sales Representative', 'Teacher',
        'Nurse', 'Engineer', 'Accountant', 'Scientist', 'Lawyer',
        'Salesperson', 'Manager'], dtype=object))

((374, 12), (374,))

In [24]:
from sklearn.preprocessing import LabelEncoder,StandardScaler,MinMaxScaler

df["Gender_encoded"]=LabelEncoder().fit_transform(df['Gender'])
df['Occupation_encoded']=LabelEncoder().fit_transform(df['Occupation'])
df['BMI Category_encoded']=LabelEncoder().fit_transform(df['BMI Category'])

In [25]:
df=df.drop(columns='Sleep Disorder')
df.head()
# normalization=age,occupation_enc,Bmi_enc ,Gender_enc,
#standrization=sleep duration,quality of sleep,physical activity,Blood pressure,Heart Rate,Daily Steps.

,Person ID,Gender,Age,Occupation,Sleep Duration,Quality of Sleep,Physical Activity Level,Stress Level,BMI Category,Blood Pressure,Heart Rate,Daily Steps,Gender_encoded,Occupation_encoded,BMI Category_encoded
0,1,Male,27,Software Engineer,6.1,6,42,6,Overweight,126/83,77,4200,1,9,3
1,2,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,1,1,0
2,3,Male,28,Doctor,6.2,6,60,8,Normal,125/80,75,10000,1,1,0
3,4,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,1,6,2
4,5,Male,28,Sales Representative,5.9,4,30,8,Obese,140/90,85,3000,1,6,2

In [28]:
St_scal=StandardScaler()
df[['Sleep Duration','Quality of Sleep','Physical Activity Level','Heart Rate','Daily Steps']]=St_scal.fit_transform(df[['Sleep Duration','Quality of Sleep','Physical Activity Level','Heart Rate','Daily Steps']])
N_scal=MinMaxScaler()
df[['Gender_encoded','Age','Occupation_encoded','BMI Category_encoded']]=N_scal.fit_transform(df[['Gender_encoded','Age','Occupation_encoded','BMI Category_encoded']])

In [34]:
df.head()
x=df.drop(columns=['Gender','Person ID','Occupation','BMI Category','Blood Pressure','Stress Level'])
y=df['Stress Level']
x.shape,y.shape

((374, 9), (374,))

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=24)

In [41]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(x_train, y_train)
print(reg.score(x_train, y_train))
pred=reg.predict(x_test)

0.9375925024964481

In [42]:
import pickle
with open('Stress_Analysis.pkl','wb')as file:
    pickle.dump(reg,file)

In [44]:
with open('Stress_Analysis.pkl','rb')as file:
    clf=pickle.load(file)
output=clf.predict(x_test)
output

array([5.10339698, 4.46504421, 7.9026506 , 7.54831972, 7.9949444 ,
       5.93450651, 7.9026506 , 7.53819032, 3.02931015, 4.46504421,
       5.88329491, 7.9026506 , 4.45491481, 5.76004832, 5.24371455,
       7.2246085 , 5.24371455, 7.9538622 , 2.98822796, 7.10972088,
       2.84472256, 4.46504421, 2.97809856, 4.13369284, 4.29333939,
       4.39545789, 4.46504421, 4.86336977, 5.76004832, 5.06231478,
       7.58940192, 7.26889548, 6.92513329, 7.45602593, 7.9437328 ,
       3.96148864, 5.24371455, 7.10972088, 2.94714576, 2.98757422,
       4.39545789, 5.15142075, 5.89342431, 5.89342431, 7.58940192,
       5.05912696, 6.97634488, 7.85143901, 2.94714576, 8.17409989,
       5.94431704, 6.97634488, 7.58940192, 3.3718131 , 4.46504421,
       5.89342431, 8.17409989, 3.96148864, 7.05850928, 4.44666949,
       2.97744483, 7.54831972, 4.42345995, 2.88580476, 4.44666949,
       5.06231478, 5.19873914, 8.17409989, 5.15142075, 5.15142075,
       7.9437328 , 4.55733801, 7.88239181, 9.0874356 , 3.02865642])

In [62]:
from sklearn.metrics import mean_squared_error

# Calculate mean squared error
mse = mean_squared_error(y_test, output)
print("Mean Squared Error: ", mse)

Mean Squared Error:  0.1555875327353062